<section id="widget-grid" class="user_account">
  <div class="module-title">
    <h2 class='module-title-text'>SEARCH CLIENT</h2>
  </div>
  <div class="col-xs-12 btn-edition tabs-section">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle filter-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FILTER <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <li>
          <span class="glyphicon glyphicon-asterisk"></span>
          <%= link_to 'All', {}.merge(status_type: 'all'), class: 'dropdown-item'  %>
        </li>
        <div class='dropdown-item-dividier'></div>
        <li>
          <span class="glyphicon glyphicon-ok-circle"></span>
          <%= link_to 'Active', {}.merge(status_type: 'active'), class: 'dropdown-item'  %>
        </li>
        <div class='dropdown-item-dividier'></div>
        <li>
          <span class="glyphicon glyphicon-ban-circle"></span>
          <%= link_to 'Inactive', {}.merge(status_type: 'inactive'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu">
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to t(:new_employee), new_employee_path, class: 'dropdown-item' %>
        </li>
          <div class='dropdown-item-dividier'></div>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item'  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'clients',
                     wid_title: t('employees')
                 } %>
    </article>
  </div>
</section>
