

<li class="">
  <a href="/setup" title="<%= 'Setup Agreement' %>"><i class="fa fa-lg fa-fw fa-cogs"></i><span class="menu-item-parent"><%= 'Setup Agreement'  %></span></a>
</li>
<li class="">
  <a href="<%= people_path %>" title="<%= 'People' %>"><i class="fa fa-lg fa-fw fa-users"></i><span class="menu-item-parent"><%= 'People' %></span></a>
</li>
<li class="">
  <a href="<%= reasons_path %>" title="<%= 'Reason' %>"><i class="fa fa-lg fa-fw fa-comments"></i><span class="menu-item-parent"><%= 'Reasons' %></span></a>
</li>
<li class="">
  <a href="<%= companies_path %>" title="<%= 'Companies' %>"><i class="fa fa-lg fa-fw fa-industry"></i><span class="menu-item-parent"><%= 'Companies' %></span></a>
</li>

<li class="">
  <a href="<%= '/visitor_log/visitor_log' %>" title="<%= 'Visitors' %>"><i class="fa fa-lg fa-fw fa-users"></i><span class="menu-item-parent"><%= 'Visitors' %></span></a>
</li>

