<link rel="stylesheet" href="/css/bootstrap-theme2.css">
<link rel="stylesheet" href="/css/mvms_style.css">

<div id="admin-login" class="container">
  <div class="row">
    <div id="box-left" class="col-sm-8">
      <div class="row">
        <div id="section-1" class="col-xs-12 col-sm-6">
          <%= image_tag section_1_image(@page_content) %>
          <p><%= @page_content.section_1_body  if @page_content.present? %></p>
          <%= link_to 'drop off', 'javascript:void(0)', class: 'btn btn-danger', id: 'btn-drop-off' %>
        </div>
        <div id="section-2" class="col-xs-12 col-sm-6">
          <%= image_tag section_2_image(@page_content) %>
        </div>
      </div>

      <div class="row">
        <div id="section-3" class="col-xs-12 col-sm-6">
          <p class="heading"><%= @page_content.section_3_title if @page_content.present?  %></p>
          <p class="body"><%= @page_content.section_3_body  if @page_content.present? %></p>
        </div>
        <div id="section-4" class="col-xs-12 col-sm-6">
          <p class="heading"><%= @page_content.section_4_title  if @page_content.present? %></p>
          <p class="body"><%= @page_content.section_3_body  if @page_content.present? %></p>
        </div>
      </div>
    </div>

    <div id="box-right" class="col-xs-12 col-sm-4">
      <div class="container-login-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: 'login_form') do |f| %>
          <div class="header">
            <h4>Sign in</h4>
          </div>
          <div class="body">
            <div class="form-group">
              <label>E-mail / Username</label>
              <div class="input-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="input-group">
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              </div>
              <%= link_to 'Forgot password?', new_user_password_path %>
            </div>
            <div class="form-group">
              <label>Language</label>
              <%= select_tag "language", options_for_select([ "English (default)", "French" ], "English (default)"), class: 'form-control' %>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Stay signed in
              </label>
            </div>
          </div>
          <div class="footer">
            <%= f.submit "Log in", class: 'btn btn-primary', id: 'login_btn' %>
          </div>
        <% end %>
        <%#= render "devise/shared/links" %>
      </div>

      <div class="box-social-media-login">
        <p class="heading">- Or sign in using -</p>
        <%= image_tag '/images/icon-saml.jpg' %>
        <br>
        <br>
        <div class="social-media-icons">
          <%= link_to 'javascript:void(0)' do %>
            <%= image_tag '/images/icon-gplus.jpg' %>
          <% end %>
          <%= link_to 'javascript:void(0)' do %>
            <%= image_tag '/images/icon-facebook.jpg' %>
          <% end %>
          <%= link_to 'javascript:void(0)' do %>
            <%= image_tag '/images/icon-twitter.jpg' %>
          <% end %>
          <%= link_to 'javascript:void(0)' do %>
            <%= image_tag '/images/icon-linkedin.jpg' %>
          <% end %>
          <%= link_to 'javascript:void(0)' do %>
            <%= image_tag '/images/icon-windows.jpg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $(document).ready(function() {
    $("#login_btn").click(function () {
      if (($("#username").val().trim() !== "") && ($("#password").val() !== "")) {
        if ($("#password").val() === "admin") {
          window.location.href = "/alerts.html"; //NOTE: Alerts made default screen for Admin
        } else if ($("#password").val() === "recept") {
          window.location.href = "/visitors.html";
        } else if ($("#password").val() === "manager") {
          window.location.href = "/reports.html?admin=no";
        } else {
          window.location.href = "/index.html";
        }
      } else {
        alert("Complete Log In Form!");
      }
    });
  });
</script>