<link rel="stylesheet" href="/css/bootstrap-theme2.css">
<link rel="stylesheet" href="/css/mvms_style.css">

<body>

<div id="admincont" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4" id="sidebar">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>

    <div class="col-xs-12 col-sm-8" id="container">
      <div id="login_div">

        <h1><a href='/'> <img class="smlogo" src="/images/microhealth-logo.svg" /></a></h1>

        <h2>Visitor Management System</h2>
        <p>&nbsp;</p>


        <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: 'login_form') do |f| %>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-3 col-md-2">
                    <label for="username">Username:</label>
                  </div>
                  <div class="col-xs-9 col-md-10">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                  </div>
                </div>
                <p>&nbsp;</p>
                <div class="row">
                  <div class="col-xs-3 col-md-2">
                    <label for="password">Password:</label>
                  </div>
                  <div class="col-xs-9 col-md-10">
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                  </div>
                </div>
              </div>
            <div class="buttonrow">
              <p>
                <%= f.submit "Log in", class: 'btn btn-success', id: 'login_btn' %>
              </p>
            </div>

            </div>
            <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>
        <% end %>

        <%#= render "devise/shared/links" %>

      </div>


    </div>

  </div>
</div>

<script>
    $(document).ready(function() {
        $("#login_btn").click(function () {
            if (($("#username").val().trim() !== "") && ($("#password").val() !== "")) {
                if ($("#password").val() === "admin") {
                    window.location.href = "/alerts.html"; //NOTE: Alerts made default screen for Admin
                } else if ($("#password").val() === "recept") {
                    window.location.href = "/visitors.html";
                } else if ($("#password").val() === "manager") {
                    window.location.href = "/reports.html?admin=no";
                } else {
                    window.location.href = "/index.html";
                }
            } else {
                alert("Complete Log In Form!");
            }
        });
    });

</script>
</body>